//////////////////////////////
// LAYOUT: Print Styles
//////////////////////////////

// Print Styles
// style sheet for "letter" printing //

@media print {
  @page {
    size: 8.5in 11in;
    margin: .5in .25in .25in .25in;
  }
  html {
    @include type-size($body-font-size - 4);
    height: auto;

  }
  body {
    @include type-size( 1rem, $body-line-height - .1);
    margin: 0 0 0 0;
    height: auto;
  }
  a,
  a:visited,
  a:link {
    //color: #444; // to be determined later
  }

  .download-pdf,
  .personal-links ul a[title*="Github"],
  .icon-portfolio,
  .icon-linkedin  {
    display: none;
  }

  .personal-links
   {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
  }

  article {
    padding: 0;
    margin: 0;
  }
  .personal-links ul {
    line-height: 1.375;
    margin-bottom: .33em;
  }
  .personal-links ul li {
    padding: 0;
    margin: 0;
    text-indent: 0;
    width: 100%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-size: 1em;
  }
  .personal-links ul a[title*="Portfolio"]:after,
  .personal-links ul a[title*="LinkedIn"]:after {
    content:" "attr(href)" ";
    display: inline-block;
    font-size: .75em;
    font-weight: normal;
    padding: 0;
    margin: 0 0 0 .25em;
    text-indent: 0;
    color: #333;
  }

  .name-links {

    h1 {
      margin-top: 0;
      padding-top: 0;
    }

    [itemprop="name"],
    .personal-links,
    .street-address {
      display: table-cell;
    }

    [itemprop="name"] {
      width: 37.5%;
    }

    .street-address {
      width: 29.2%;
      padding-right: 3em;

      li.address {
        margin-bottom: .33em;
      }
    }
  }

  .name-employment-period {
    display: table;
    width: 100%;

    .employment-period {
      display: table-cell;
      text-align: right;
      padding-right: 1em;
    }
  }

  .tech-skills {
    margin-top: 0;

    h3 {
      margin-top: 0;
    }
  }

  aside {
    max-width: 33.3333%;
    float: right;
  }

  .ux-skills,
  .tech-skills {
    float: none !important;
    padding-right: 0 !important;
    max-width: 100%  !important;
  }

  .experience-skills {
    max-width: 65%;
    float: left;
    margin-right: 1.66667%;
  }

  .summary {
    max-width: 65%;
    float: left;
    margin-right: 1.66667%;
  }

  // force page breaks
  .employment-period.page-2 {
    page-break-before: always;
  }

  // force page breaks
  .additional-information {
    page-break-before: always;
    page-break-after: none;
    page-break-inside: avoid;
  }


  #trainings ul {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
