//////////////////////////////
// LAYOUT: Resume Layout Styles
//////////////////////////////

body {
  color: #222;
}

ul {
  margin: 0;

  @include respond-to("large") {
    padding: 0 0 0 1em;
  }

  @include respond-to("x-large") {
    padding: 0 0 0 1em;
  }

  @include respond-to("xx-large") {
    padding: 0 0 0 1em;
  }

  @include respond-to("medium") {
    padding: 0 0 0 .5em;
  }

  @include respond-to("small") {
    padding: 0 0 0 .5em;
  }

  @include respond-to("x-small") {
    padding: 0 0 0 .5em;
  }

  li {
    padding: 0 0 .25em 0;
  }
}

.clone {
  display: none;
}

.down {

  @include respond-to("xx-large") {

    .clone {
      display: inline-block;
      opacity: 0;
      animation: fadein 1s ease-in 0s forwards;

      h1 {
        display: inline-block;
        font-size: 1.5em;
        margin: 0 0 0 .75em;
        display: inline-block;
        line-height: 1.5em;
        padding: 0;
      }
      .contact {
        display: inline-block;
      }
    }
  }

  @include respond-to("x-large") {

    .clone {
      display: inline-block;
      opacity: 0;
      animation: fadein 1s ease-in 0s forwards;

      h1 {
        display: inline-block;
        font-size: 1.5em;
        margin: 0 0 0 .75em;
        display: inline-block;
        line-height: 1.5em;
        padding: 0;
      }
      .contact {
        display: inline-block;
      }
    }
  }

@include respond-to("large") {

  .clone {
    display: inline-block;
    opacity: 0;
    animation: fadein 1s ease-in 0s forwards;

    h1 {
      display: inline-block;
      font-size: 1.5em;
      margin: 0 0 0 .75em;
      display: inline-block;
      line-height: 1.5em;
      padding: 0;
    }
    .contact {
      display: inline-block;
    }
  }
}

  @include respond-to("medium") {

    .clone {
      display: inline-block;
      opacity: 0;
      animation: fadein 1s ease-in 0s forwards;

      h1 {
        display: inline-block;
        font-size: 1.5em;
        margin: 0 0 0 .75em;
        display: inline-block;
        line-height: 1.5em;
        padding: 0;
      }
      .contact {
        display: inline-block;
      }
    }
  }
}

.download-pdf {

  a.pdf-link {
    float: right;
    display: inline-block;
    color: #fdfdfd;
    background: $link-color;
    padding: .5em .75em;
    border-radius: .25em;
    margin: .25em 0;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
      border: none;
      background: $link-hover-link-color;
    }
  }

  @include respond-to("x-small") {

    position: fixed;
    bottom: 24px;
    right: 9px; // 24px - 15px for scroll bar

    .text-label {
      display: none;
    }

    a.pdf-link {
      padding: .667em .5em;
      border-radius: 50%;
      margin-bottom: 0;
      font-size: 2em;
      box-shadow: 0px 2px 5px #666;
    }
  }

  @include respond-to("small") {

    position: fixed;
    bottom: 24px;
    right: 9px; // 24px - 15px for scroll bar

    .text-label {
      display: none;
    }

    a.pdf-link {
      padding: .667em .5em;
      border-radius: 50%;
      margin-bottom: 0;
      font-size: 2em;
      box-shadow: 0px 2px 5px #666;
    }
  }

  @include respond-to("xx-large") {
    position: fixed;
    background: white;
    width: 100%;
  }

  @include respond-to("x-large") {
    position: fixed;
    background: white;
    width: 100%;
  }

  @include respond-to("large") {
    position: fixed;
    background: white;
    width: 100%;
  }

  @include respond-to("medium") {
    position: fixed;
    background: white;
    width: 100%;
  }
}

.name-links {

  @include respond-to("large") {
    display: table;
    width: 100%;

    h1 {
      margin-top: 0;
    }

    [itemprop="name"],
    .personal-links,
    .street-address {
      display: table-cell;
    }

    [itemprop="name"] {
      width: 37.5%;
    }

    .contact {
      margin-top: -.75em;
      text-indent: 0;
      padding: 0;
    }

    .street-address {
      width: 28.5%;
      padding-right: 2em;

      ul {
        line-height: 1.375;
      }

      li.address {
        margin-bottom: .33em;
      }
    }

    .personal-links ul li {
      margin-bottom: 1.45em;
    }
  }

  @include respond-to("x-large") {
    display: table;
    width: 100%;

    h1 {
      margin-top: 0;
    }

    [itemprop="name"],
    .personal-links,
    .street-address {
      display: table-cell;
    }

    [itemprop="name"] {
      width: 37.5%;
    }

    .contact {
      margin-top: -.75em;
      text-indent: 0;
      padding: 0;
    }

    .street-address {
      width: 28.5%;
      padding-right: 2em;

      ul {
        line-height: 1.375;
      }

      li.address {
        margin-bottom: .33em;
      }
    }

    .personal-links ul li {
      margin-bottom: 1.45em;
    }
  }

  @include respond-to("xx-large") {
    display: table;
    width: 100%;

    h1 {
      margin-top: 0;
    }

    [itemprop="name"],
    .personal-links,
    .street-address {
      display: table-cell;
    }

    [itemprop="name"] {
      width: 37.5%;
    }

    .contact {
      margin-top: -.75em;
      text-indent: 0;
      padding: 0;
    }

    .street-address {
      width: 28.5%;
      padding-right: 2em;

      ul {
        line-height: 1.375;
      }

      li.address {
        margin-bottom: .33em;
      }
    }

    .personal-links ul li {
      margin-bottom: 1.45em;
    }

  }

  @include respond-to("medium") {
    display: table;
    width: 100%;

    h1 {
      margin-top: 0;
    }

    [itemprop="name"],
    .personal-links,
    .street-address {
      display: table-cell;
    }

    [itemprop="name"] {
      width: 37.5%;
    }

    .contact {
      margin-top: -.75em;
      text-indent: 0;
      padding: 0;
    }

    .street-address {
      width: 28.5%;
      padding-right: 2em;

      ul {
        line-height: 1.375;
      }

      li.address {
        margin-bottom: .33em;
      }
    }

    .personal-links ul li {
      margin-bottom: 1.45em;
    }
  }

  @include respond-to("small") {
    display: table;
    width: 100%;

    [itemprop="name"] {
      display: table-row;
    }

    .contact {
      margin-top: -.75em;
      text-indent: 0;
      padding: 0;
    }

    .personal-links {
      display: table-header-group;
    }

    h1 {
      padding-top: 0;
      margin-top: 0;
    }
  }

  @include respond-to("x-small") {
    display: table;
    width: 100%;

    [itemprop="name"] {
      display: table-row;
    }

    .personal-links {
      display: table-header-group;
    }

    .contact {
      margin-top: -.75em;
      text-indent: 0;
      padding: 0;
    }

    h1 {
      padding-top: 0;
      margin-top: 0;
    }
  }
}

.personal-links {

  ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;

    li {
      display: inline-block;
      padding: 0 2.375em .25em 0;
      margin-left: 0;

      &:last-child {
        padding: 0 0 .25em 0;
      }
    }
  }

  @include respond-to("small") {
    ul li {
      width: 32%;
      text-align: center;
      font-size: 1.2em;
      padding: .5em .25em 0 .25em;
    }
  }

  @include respond-to("x-small") {
    ul li {
      width: 32%;
      text-align: center;
      font-size: 1.2em;
      padding: .5em .25em 0 .25em;
    }
  }
}

.street-address {
  ul {
    margin: 0;
    padding: 0;
  }
}

.address,
.phone,
.email {
  display: inline-block;
  padding: 0;
  margin-left: 0;
}

@include respond-to("large") {
  .phone {
    &:before {
      content: " • ";
      padding: 0 .5em 0 .75em;
    }
  }
}

@include respond-to("x-large") {
  .phone {
    &:before {
      content: " • ";
      padding: 0 .5em 0 .75em;
    }
  }
}

@include respond-to("xx-large") {
  .phone {
    &:before {
      content: " • ";
      padding: 0 .5em 0 .75em;
    }
  }
}

@include respond-to("medium") {
  .phone {
    &:before {
      content: " • ";
      padding: 0 .5em 0 .75em;
    }
  }
}

@include respond-to("small") {
  .phone {
    &:before {
      content: " • ";
      padding: 0 .5em 0 .75em;
    }
  }
}

@include respond-to("x-small") {
  .address {
    display: block;
  }

  .email,
  .phone {
    line-height: 1.5em;
  }

  .phone {
    &:before {
      content: " • ";
      padding: 0 .5em 0 .75em;
    }
  }
}

.address p {
  margin-top: 0;
}

.summary {

  max-width: 65%;
  float: left;
  margin-right: 1.66667%;

  h2 {
    margin-top: .25em;
    color: #555;
  }

  @include respond-to("small") {
    max-width: 85%;
    float: none;
  }

  @include respond-to("x-small") {
    max-width: 100%;
    float: none;
  }

  blockquote {

    @include respond-to("medium") {
      border: none;
      margin: 0;
      max-width: (ms(14) + 1.5em);
    }

    @include respond-to("small") {
      border: none;
      margin: 0;
      max-width: (ms(14) + 1.5em);
    }

    @include respond-to("x-small") {
      border: none;
      margin: 0;
      max-width: (ms(14) + 1em);
    }
  }
}

  aside {
    max-width: 33.3333%;
    float: right;

    h3 {
      margin-top: .2em;
      margin-bottom: .5em;
    }

    ul {
      margin: 1em 0 0 .25em;
      padding: 0;
      font-size: .875em;
      line-height: 1.5;
    }

    @include respond-to("large") {
      .tech-skills {
        margin-top: 1.175em;
      }
    }

    @include respond-to("x-large") {
      .tech-skills {
        margin-top: 1.175em;
      }
    }

    @include respond-to("xx-large") {
      .tech-skills {
        margin-top: 1.175em;
      }
    }

    @include respond-to("small") {
      max-width: 100%;
      float: none;

      .ux-skills,
      .tech-skills {
        float: left;
        padding-right: 1em;
        max-width: 50%;
      }
    }

    @include respond-to("x-small") {
      max-width: 100%;
      float: none;
    }
  }

.experience-skills {
  max-width: 65%;
  float: left;
  margin-right: 1.66667%;

  section {

    p {
      margin: .33em 0 .33em 1em;
    }

    ul {
      margin: .66em 0 1em 1em;
    }
  }

  @include respond-to("small") {
    max-width: 79%;
    float: none;
  }

  @include respond-to("x-small") {
    max-width: 100%;
    float: none;
  }
}

.experience {
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  h3 {
    margin: .25em 0 0 0;
    padding: 0;
  }

  [itemprop="roleName"] {
    font-weight: bold;
    display: block;

      + span {
      font-style: italic;
      display: block;
    }
  }

  .wrap-line {
    display: inline;
  }

  .digital-agency {
    font-style: normal;
  }

  [itemprop="description"] + p {
    margin-top: .75em;
  }
}

.name-employment-period {
  &:first-of-type + p {
    margin-top: .5em;
  }

  @include respond-to("large") {
    display: table;
    width: 100%;

    .employment-period {
      display: table-cell;
      text-align: right;
      padding-right: 1em;
    }

    [itemprop="name"] {
      width: ms(14);
    }
  }

  @include respond-to("x-large") {
    display: table;
    width: 100%;

    .employment-period {
      display: table-cell;
      max-width: ms(9);
      text-align: right;
    }
    [itemprop="name"] {
      width: ms(14);
    }
  }

  @include respond-to("xx-large") {
    display: table;
    width: 100%;

    .employment-period {
      display: table-cell;
      max-width: ms(9);
      text-align: right;
    }
    [itemprop="name"] {
      width: ms(14);
    }
  }
}

section.education {
  ul {
    padding: 0;
    max-width: ms(15);

    li {
      list-style-type: none;
    }
  }

  [itemprop="award"] {
    font-weight: bold;
  }

  span[itemprop="name"] {
    font-style: italic;
  }
}

.additional-information {
  h2 {
    margin-top: 1em;
    margin-bottom: 0;
  }
  .teaching h3 {
    margin-top: .3333em;
    padding-top: 0;
    margin-bottom: -.3333em;
  }

  h3 {
    margin-bottom: .3333em;
  }

  h4 {
    margin-bottom: .3333em;
  }

  .presentations h4 {
    margin-top: 0;
  }
}

.teaching {

  [itemprop="name"] {
    font-weight: bold;
  }

  [itemprop="roleName"] + span {
    font-style: italic;
  }

  .college-date {
    display: block;
  }
}

.organizations {
  [itemprop="founder"],
  [itemprop="member"] {
    font-weight: bold;
  }

  [itemprop="name"] {
    font-style: italic;
  }
}

section.additional-information {
  ul {
    padding: 0;
    max-width: ms(15);
  }
}

.presentations,
.events,
.trainings {
  span[itemprop="name" ] {
    font-weight: bold;
  }

  [itemprop="event"],
  [itemprop="organizer"],
  [itemprop="alternateName"] {
    font-style: italic;
  }
}

.presentations,
.trainings {
  span[itemprop="location"] > span[itemprop="name" ] {
    font-style: italic;
    font-weight: normal;
  }
}

article {
  padding: 2em 0;
  margin-bottom: 2em;
}

.no-break {
  white-space: nowrap;
}

.wrap-line {
  display: block;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
