//////////////////////////////
// LAYOUT: Resume Layout Styles
//////////////////////////////

body {
  color: #222;
}

ul {
  margin: 0;

  @include respond-to("large") {
    padding: 0 0 0 1em;
  }

  @include respond-to("x-large") {
    padding: 0 0 0 1em;
  }

  @include respond-to("xx-large") {
    padding: 0 0 0 1em;
  }

  @include respond-to("medium") {
    padding: 0 0 0 .5em;
  }

  @include respond-to("small") {
    padding: 0 0 0 .5em;
  }

  li {
    padding: 0 0 .25em 0;
  }
}

.download-pdf {
  text-align: right;
  
  a {
    display: inline-block;
    color: #fdfdfd;
    background: $link-color;
    padding: .125em .5em;
    border-radius: 0 0 .25em .25em;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
      border: none;
      background: $link-hover-link-color;
    }
  }

  @include respond-to("small") {
    .text-label {
      display: none;
    }
  }
}

.name-links {

  @include respond-to("large") {
    display: table;
    width: 100%;

    h1 {
      margin-top: 0;
    }

    [itemprop="name"],
    .personal-links {
      display: table-cell;
    }

    [itemprop="name"] {
      width: ms(13);
    }

    .personal-links {
      max-width: ms(10);
    }
  }

  @include respond-to("x-large") {
    display: table;
    width: 100%;

    h1 {
      margin-top: 0;
    }

    [itemprop="name"],
    .personal-links {
      display: table-cell;
    }

    [itemprop="name"] {
      width: ms(13);
    }

    .personal-links {
      max-width: ms(10);
    }
  }

  @include respond-to("xx-large") {
    display: table;
    width: 100%;

    h1 {
      margin-top: 0;
    }

    [itemprop="name"],
    .personal-links {
      display: table-cell;
    }

    [itemprop="name"] {
      width: ms(13);
    }

    .personal-links {
      max-width: ms(10);
    }
  }

  @include respond-to("medium") {
    display: table;
    width: 100%;

    h1 {
      margin-top: 0;
    }

    [itemprop="name"],
    .personal-links {
      display: table-cell;
    }

    [itemprop="name"] {
      width: ms(12);
    }

    .personal-links {
      max-width: ms(10);
      text-align: right;
    }
  }

  @include respond-to("small") {
    display: table;
    width: 100%;

    [itemprop="name"] {
      display: table-row;
    }

    .personal-links {
      display: table-header-group;
    }

    h1 {
      padding-top: 0;
      margin-top: 0;
    }
  }
}

.personal-links {
  ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;

    li {
      display: inline-block;
      padding: 0 0 .25em .5em;
      margin-left: 0;
    }
  }
  
  @include respond-to("small") {
    ul li {
      width: 32%;
      text-align: center;
      font-size: 1.2em;
      padding: .5em .25em 0 .25em;
    }
  }
}

.address-contact {
  ul {
    margin: 0;
    padding: 0;
  }
}

.address,
.phone,
.email {
  display: inline-block;
  padding: 0 .125em;
  margin-left: 0;
}

@include respond-to("large") {
  .email,
  .phone {
    &:before {
      content: " • ";
    }
  }
}

@include respond-to("x-large") {
  .email,
  .phone {
    &:before {
      content: " • ";
    }
  }
}

@include respond-to("xx-large") {
  .email,
  .phone {
    &:before {
      content: " • ";
    }
  }
}


@include respond-to("medium") {
  .email,
  .phone {
    &:before {
      content: " • ";
    }
  }
}

@include respond-to("small") {
  .address {
    display: block;
  }

  .email,
  .phone {
    line-height: 1.5em;
    width: 48%;
  }

  .phone {
    text-align: right;
  }
}

.address p {
  margin-top: 0;
}

.summary {
  h2 {
    margin-top: .25em;
    color: #555;
  }

  blockquote {
    @include respond-to("large") {
      max-width: (ms(14) + 1.5em);
    }

    @include respond-to("x-large") {
      max-width: (ms(14) + 1.5em);
    }

    @include respond-to("xx-large") {
      max-width: (ms(14) + 1.5em);
    }

    @include respond-to("medium") {
      border: none;
      margin: 0 auto;
      max-width: (ms(14) + 1.5em);
    }

    @include respond-to("small") {
      border: none;
      margin: 0 auto;
      max-width: (ms(14) + 1em);
    }
  }
}


.experience-skills {
  section {
    max-width: ms(15);

    p {
      margin: 1em 0;
      max-width: ms(14);
    }

    ul {
      margin: 1em 0 1.5em .475em;
      max-width: ms(14);
    }
  }

  aside {
    h3 {
      margin-top: 0;
      margin-bottom: .5em;
    }

    ul {
      margin: 1em 0 0 .25em;
      padding: 0;
    }

    @include respond-to("large") {
      display: table;
      width: 100%;

      .ux-skills {
        display: table-cell;
        width: ms(13);
      }

      .tech-skills {
        display: table-cell;
        max-width: ms(10);
      }
    }

    @include respond-to("x-large") {
      display: table;
      width: 100%;

      .ux-skills {
        display: table-cell;
        width: ms(13);
      }

      .tech-skills {
        display: table-cell;
        max-width: ms(10);
      }
    }

    @include respond-to("xx-large") {
      display: table;
      width: 100%;

      .ux-skills {
        display: table-cell;
        width: ms(13);
      }

      .tech-skills {
        display: table-cell;
        max-width: ms(10);
      }
    }
  }
}

.experience {
  h3 {
    margin: .5em 0 0 0;
    padding: 0;
  }

  [itemprop="roleName"] {
    font-weight: bold;
    display: block;

      + span {
      font-style: italic;
      display: block;
    }
  }

  .wrap-line {
    display: inline;
  }

  .digital-agency {
    font-style: normal;
  }

  [itemprop="description"] + p {
    margin-top: .75em;
  }
}

.name-employment-period {
  &:first-of-type + p {
    margin-top: .5em;
  }

  @include respond-to("large") {
    display: table;
    width: 100%;

    .employment-period {
      display: table-cell;
      max-width: ms(9);
      text-align: right;
    }
    [itemprop="name"] {
      width: ms(14);
    }
  }

  @include respond-to("x-large") {
    display: table;
    width: 100%;

    .employment-period {
      display: table-cell;
      max-width: ms(9);
      text-align: right;
    }
    [itemprop="name"] {
      width: ms(14);
    }
  }

  @include respond-to("xx-large") {
    display: table;
    width: 100%;

    .employment-period {
      display: table-cell;
      max-width: ms(9);
      text-align: right;
    }
    [itemprop="name"] {
      width: ms(14);
    }
  }
}

section.education {
  ul {
    padding: 0;
    max-width: ms(15);

    li {
      list-style-type: none;
    }
  }

  [itemprop="award"] {
    font-weight: bold;
  }

  span[itemprop="name"] {
    font-style: italic;
  }
}

.additional-information {
  h2 {
    margin-top: 1em;
    margin-bottom: 0;
  }
  .teaching h3 {
    margin-top: .3333em;
    padding-top: 0;
    margin-bottom: -.3333em;
  }

  h3 {
    margin-bottom: .3333em;
  }

  h4 {
    margin-bottom: .3333em;
  }

  .presentations h4 {
    margin-top: 0;
  }
}

.teaching {

  [itemprop="name"] {
    font-weight: bold;
  }

  [itemprop="roleName"] + span {
    font-style: italic;
  }

  .college-date {
    display: block;
  }
}

.organizations {
  [itemprop="founder"],
  [itemprop="member"] {
    font-weight: bold;
  }

  [itemprop="name"] {
    font-style: italic;
  }
}

section.additional-information {
  ul {
    padding: 0;
    max-width: ms(15);
  }
}

.presentations,
.events,
.trainings {
  span[itemprop="name" ] {
    font-weight: bold;
  }

  [itemprop="event"],
  [itemprop="organizer"],
  [itemprop="alternateName"] {
    font-style: italic;
  }
}

.presentations,
.trainings {
  span[itemprop="location"] > span[itemprop="name" ] {
    font-style: italic;
    font-weight: normal;
  }
}

article {
  margin-bottom: 2em;
}

.no-break {
  white-space: nowrap;
}

.wrap-line {
  display: block;
}