//////////////////////////////
// VARIABLES: For Base styles 
//////////////////////////////

$fontstack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-name: "Roboto";
$font-name--lowercase: "roboto";
$heading-fontstack: "Rockwell", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
$heading-font-name: "Roboto Slab";
$heading-font-name--lowercase: "robotoslab";