//////////////////////////////
// LAYOUT: Layout dependent css and media queries only 
//////////////////////////////

$body-font-size: 16px;
$body-line-height: 1.5em;

* {
  box-sizing: border-box;
}

html {
  @include respond-to("large") {
    @include type-size($body-font-size); // 16px
  }

  @include respond-to("x-large") {
    @include type-size($body-font-size + 2); // 18px
  }

  @include respond-to("xx-large") {
    @include type-size($body-font-size + 5); // 21px
  }

  @include respond-to("medium") {
    @include type-size($body-font-size - 2); // 14px
  }

  @include respond-to("small") {
    @include type-size($body-font-size - 4); // 12px
  }
}

body {
  @include respond-to("large") {
    @include type-size(1em, $body-line-height); // 16px/1.5em IE 8 fallback
    @include type-size(1rem, $body-line-height); // 16px/1.5em
  }

  @include respond-to("x-large") {
    @include type-size(1rem, $body-line-height + .16666); // 18px/1.6666em
  }

  @include respond-to("xx-large") {
    @include type-size(1rem, $body-line-height + .16666); // 21px/1.6666em
  }

  @include respond-to("medium") {
    @include type-size(1rem, $body-line-height - .1); // 14px/1.4em
  }

  @include respond-to("small") {
    @include type-size(1rem, $body-line-height - .1); // 12px/1.4em
    word-spacing: -.085em;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: ms(15);
  padding: 0 1em;
}